@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - CoffeeShop</title>
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <div class="login-container">
        <h2>Login to CoffeeShop</h2>
        <form asp-action="Login" method="post">
            <input type="text" name="Username" placeholder="Username" required />
            <input type="password" name="Password" placeholder="Password" required />
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
