@{
    ViewData["Title"] = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success mt-4">
    <h4>✅ Cảm ơn bạn đã đặt hàng!</h4>
    <p>Đơn hàng của bạn đang được xử lý. Vui lòng đợi nhân viên giao hàng liên hệ.</p>
    <a href="/" class="btn btn-primary mt-3">Về trang chủ</a>
</div>
