@{
    ViewData["Title"] = "Thรnh cรดng";
}
<div class="alert alert-success mt-4">
    <h3>๐ ฤแบทt hรng thรnh cรดng!</h3>
    <p>Cแบฃm ฦกn bแบกn ฤรฃ mua hรng tแบกi CoffeeShop.</p>
    <a href="/" class="btn btn-success">Vแป trang chแปง</a>
</div>
