.text-brown {
    color: #6f4e37;
}
.btn-primary {
    background-color: #6f4e37;
    border-color: #6f4e37;
}
.btn-outline-primary {
    color: #6f4e37;
    border-color: #6f4e37;
}
.btn-outline-primary:hover {
    background-color: #6f4e37;
    color: #fff;
}
